<!DOCTYPE html>
<html>
<head>
    <title>Realtime Markdown Viewer</title>
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/ns-editor.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css">

</head>

<body class="container-fluid">

    <section class="row">
        <textarea class="col-md-6 full-height" id="ns-editor">Write your text here..</textarea>
        <div class="markdown-body">
            <div class="col-md-6 full-height" id="markdown"></div>
        </div>
        
    </section>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <script src="libs/showdown/dist/showdown.min.js"></script>
    <script src="js/script.js"></script>
    
</body>
</html>